
h1 {
  position: relative;
  color: white;
  background: lightblue;
  padding-left: 60px;
}

h3 {
  font-family: sans-serif;
  color: black;
}

p {
  color: darkgray;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}